<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <title>Example app</title>

  <link href="{{url_for('static',filename='styles/index.css')}}" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-dark bg-mynav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My App</a>
      <p class="text-white">Frontend: {{frontend_name}}</p>
      <p class="text-white">Backend: {{backend_name}}</p>
    </div>
  </nav>

  <div class="container">
    <div class="d-flex bd-highlight mb-3">
      <div class="me-auto p-2 bd-highlight">
        <h2>Users</h2>
      </div>
      <div class="p-2 bd-highlight">
        <button type="button" id="btnCreate" class="btn btn-secondary" data-bs-toggle="modal"
          data-bs-target="#modalId">Create</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody id="mytable">
          {% for element in elements %}
          <tr>
            <td>{{ element["id"] }}</td>
            <td>{{element["first_name"]}}</td>
            <td>{{element["last_name"]}}</td>
            <td>
              <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                data-bs-target="#modalId">EDIT</button>
              <a href="delete/{{element['id']}}">
                <button type="button" class="btn btn-outline-danger">DELETE</button>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalIdTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitle">Modal title</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <form id="formId" method="post">
                  <td><input type="text" class="form-control" id="first_name" name="first_name"
                      placeholder="First name"></td>
                  <td><input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name">
                  </td>
                </form>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" form="formId">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <script src="{{url_for('static',filename='js/index.js')}}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>